# Comments are provided throughout this file to help you get started.
# If you need more help, visit the Docker Compose reference guide at
# https://docs.docker.com/go/compose-spec-reference/

# Here the instructions define your application as a service called "server".
# This service is built from the Dockerfile in the current directory.
# You can add other services your application may depend on here, such as a
# database or a cache. For examples, see the Awesome Compose repository:
# https://github.com/docker/awesome-compose
services:
  api-dev:
    build:
      context: .
      dockerfile: Dockerfile
      target: develop
    container_name: flatmate-backend-dev
    environment:
      NODE_ENV: develop
      HOST_PORT: 3001
    ports:
      - 3001:3000
    develop:
      watch:
        - action: sync
          path: ./src
          target: /usr/src/app/src
          ignore:
            - '**/*.test.*'
            - '**/__tests__/**'
        - action: rebuild
          path: ./package.json
    restart: unless-stopped
    command: node --watch server.js
  api-prod:
    build:
      context: .
      dockerfile: Dockerfile
      target: production
    container_name: flatmate-backend-prod
    environment:
      NODE_ENV: production
      HOST_PORT: 3000
    ports:
      - 3000:3000
    restart: unless-stopped
    command: node server.js
